.projects__section{
    background-color: rgba(247, 247, 247, 0.692);
    padding: 100px;
}
.projects__container{
    min-height: 35em;
    max-width: 1340px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.project{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    margin: 20px;
    min-width: 400px;
}