.projects__section{
    background-color: rgba(247, 247, 247, 0.692);
    padding: 100px;
}
.projects__container{
    min-height: 35em;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.project{
    width: 1440px;
    width: 100%;
    min-height: 400px; 
    margin: 100px 0;
    display: flex;
    border: 5px solid blue;
}
.image__container{
    min-width: 400px;
    position: relative;
    margin: 0 3em;    
}
.image__container img{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 0;
    overflow:hidden;
    display: flex;
    transform: translateY(-50%);  
}
.img_mac {
    z-index: 10;

}
.img{
    padding: 10px;    
    height: 250px;
    max-width: 375px;
    margin-top: -25px;
}
.project__description{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    border: 5px solid blue;
    padding: 2em;
}
.project__description h1{
    padding-bottom: 3em;
}
